CONFIG_FHANDLE=y
CONFIG_CGROUPS=y
CONFIG_CGROUP_SCHED=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_NAMESPACES=y
CONFIG_USER_NS=y
CONFIG_NET_NS=y
# CONFIG_SYSFS_DEPRECATED is not set
CONFIG_EPOLL=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_SECCOMP_FILTER=y
CONFIG_BLK_DEV_BSG=y
CONFIG_EFI_PARTITION=y
CONFIG_SECCOMP=y
CONFIG_NET=y
CONFIG_IPV6=y
CONFIG_DEVTMPFS=y
CONFIG_FW_LOADER_USER_HELPER=y
CONFIG_DMIID=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_INOTIFY_USER=y
CONFIG_AUTOFS4_FS=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
CONFIG_EFIVAR_FS=y
CONFIG_CRYPTO_HMAC=m
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_USER_API_HASH=m
